Options -Indexes +ExecCGI

DirectoryIndex index.md index.jinja index.py index.html

# -------- Handlers
# Tell the server how to handle certain files
# Note: mimetype required for the server to check extensions automatically,
# but only sets a content-type if not otherwise handled (ie by an Action)

AddType text/plain .md
AddType text/html .jinja
AddType text/html .ipynb

AddHandler renderable .jinja .md .ipynb
Action renderable "/~bsherrat/portal/bin/cgi-handler.cgi"

AddType text/html .py
AddHandler cgi-script .py
