{% extends "base.html" %}

{% block title %}Data Portal{% endblock %}

{% block content %}

<section>
  <a href='input'>
    <h2 class='big-button'>Input Data</h2>
  </a>
  <div class='arrow-d'></div>
  <a href='analysis'>
    <h2 class='big-button'>Analysis</h2>
  </a>
  <div class='arrow-d'></div>
  <a href='applications'>
    <h2 class='big-button'>Applications</h2>
  </a>
</section>

{% endblock %}
